---

---

<section class="relative">
  <div>
    <img
      src="/images/hero.jpg"
      alt="Banner de inicio"
      class="w-full h-svh filter brightness-50 -z-10"
    />
  </div>

  <div class="absolute bottom-20 left-20">
    <h1 class="text-6xl text-white max-w-sm">
      Donde el arte y diseño convergen
    </h1>
  </div>
</section>
